:root {
    --card-width: 80px;
}

.App {
    padding: 8px 20px;
    text-align: center;
}

.card {
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    height: 140px;
    line-height: 140px;
    text-align: center;
    width: var(--card-width);
}

.card-selector {
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
}

.card-selector > div:not(:last-child) {
    margin-right: 16px;
}

.player {
    width: var(--card-width);
}

.players {
    padding: 0 80px;   
}

.you {
    font-style: italic;
}

button {
    font-size: calc(10px + 2vmin);
}
